*{
	margin: 0;
	padding: 0;
}

body{
	background: url(images/1.jpg);
}

#box{
	width: 600px;
	margin: 20px auto;
}

#canvas{
	border: 3px solid red;	
}

#btn{
	position: absolute;
	left: 80px;
	top:280px;
}

#btn a{
	width: 150px;
	text-decoration: none;
	background: yellow;
	font-weight: 600;
	font-size: 25px;
	color:green;
	border-radius: 20px;
}

#btn a:hover{
	color: grey;
}